/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
/* My code  */

/* montserrat-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/montserrat-v29-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/montserrat-v29-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* lato-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/lato-v24-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* lato-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lato";
  font-style: italic;
  font-weight: 400;
  src: url("./fonts/lato-v24-latin-italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* lato-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/montserrat-v29-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --primary-colour-header: #783192;
  --primary-colour-aside: #d9b5e6;
  --primary-colour-section: #e0c4eb;
  --secondary-colour-header: #59bcc8;
  --secondary-colour-light: #c0dbdb;
  --secondary-colour-lightest: #e5f0f0;
  --colour-white: #f9f9f9;
}

body {
  background-color: var(--primary-colour-section);
  text-align: center;
  font-family: "Lato";
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-family: "Montserrat";
  background-color: var(--primary-colour-header);
  color: var(--secondary-colour-header);
}

.header-logo {
  filter: invert(78%) sepia(35%) saturate(624%) hue-rotate(137deg)
    brightness(84%) contrast(84%);
}

@media (max-width: 435px) {
  .header-title .header-logo {
    display: none;
  }
}

.header-title {
  display: flex;
  gap: 10px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

#random,
#start-game,
#new-game,
#user-board,
#computer-board {
  display: none;
}

.board {
  display: grid;
  height: 420px;
  width: 420px;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  border: 1px solid black;
  gap: 2px;
  padding: 2px;
  /* background-color: darkolivegreen; */
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  color: darkolivegreen;
  border: 1px solid grey;
  /* background: lightellow; */
}

.cell-button {
  height: 90%;
  width: 90%;
  /* max-width: 100%; */
  cursor: pointer;
  background-color: var(--primary-colour-aside);
  border: none;
  border-radius: 8px;
}

.cell-button:hover {
  background-color: var(--primary-colour-header);
}

.ship-sail {
  filter: invert(78%) sepia(35%) saturate(624%) hue-rotate(137deg)
    brightness(84%) contrast(84%);
}

.ship-sink {
  filter: invert(25%) sepia(50%) saturate(1720%) hue-rotate(255deg)
    brightness(92%) contrast(97%);
}
